.idea/
__pycache__/
api/__pycache__/
api/migrations/__pycache__/
aussieshopper/__pycache__/
aussieshopper/settings/local_settings.py
db.sqlite3
conf.json
node_modules/
yarn.lock
bundles/*
/web/static/bundles/
