[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=1.11"
feedparser = "==5.2.1"
python-telegram-bot = "~=6.0"
gunicorn = "~=20.0"
djangorestframework = "~=3.6"
celery = "~=4.0"
redis = "~=3.4"
pygments = "==2.2.0"
django-extensions = "*"
ipython = "*"
"psycopg2-binary" = "*"
django-webpack-loader = "*"
"fabric3" = "*"
raven = "*"
sentry-sdk = "==0.14.1"

[dev-packages]
